In [1]:
import polyline

In [2]:
import googlemaps
import json

import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

import matplotlib.pyplot as plt
import seaborn as sns
import math

import folium

import subprocess

sns.set_style("darkgrid")

In [ ]:
####################################
# GET DIRECTIONS EN MASS START #####
####################################
gclient = googlemaps.Client('YOUR API_KEY')

In [3]:
#find and pickle directions between all stations

#prepare data for loading
mypath = "C:\Users\Bryan\Documents\GitHub\Springboard\Capstone Project\Data\\"
dataFiles = [f for f in listdir(mypath) if isfile(join(mypath,f))]
dataFrames = []

inputDtypeDict = {'Trip Duration': np.int64,
                  #'starttime': np.datetime64,
                  #'stoptime': np.datetime64,
                  'Start Station ID': np.int64,
                  'Start Station Name': np.string_,
                  'Start Station Latitude': np.float64,
                  'Start Station Longitude': np.float64,
                  'End Station ID': np.int64,
                  'End Station Name': np.string_,
                  'End Station Latitude': np.float64,
                  'End Station Longitude': np.float64,
                  'Bike ID': np.int64,
                  'User Type': np.string_,
                  'Birth Year': np.string_,
                  'Gender': np.int64,
                  'Start Next Station Id': np.int64
                  }

In [4]:
print dataFiles

['2013-07 - Citi Bike trip data.csv', '2013-08 - Citi Bike trip data.csv', '2013-09 - Citi Bike trip data.csv', '2013-10 - Citi Bike trip data.csv', '2013-11 - Citi Bike trip data.csv', '2013-12 - Citi Bike trip data.csv', '2014-01 - Citi Bike trip data.csv', '2014-02 - Citi Bike trip data.csv', '2014-04 - Citi Bike trip data.csv', '2014-05 - Citi Bike trip data.csv', '2014-06 - Citi Bike trip data.csv', '2014-07 - Citi Bike trip data.csv', '2014-08 - Citi Bike trip data.csv', '201409-citibike-tripdata.csv', '201410-citibike-tripdata.csv', '201411-citibike-tripdata.csv', '201412-citibike-tripdata.csv', '201501-citibike-tripdata.csv', '201502-citibike-tripdata.csv', '201503-citibike-tripdata.csv', '201504-citibike-tripdata.csv', '201505-citibike-tripdata.csv', '201506-citibike-tripdata.csv', '201507-citibike-tripdata.csv', '201508-citibike-tripdata.csv', '201509-citibike-tripdata.csv', '201510-citibike-tripdata.csv', '201511-citibike-tripdata.csv', '201512-citibike-tripdata.csv', '201601-citibike-tripdata.csv', '201602-citibike-tripdata.csv', '201603-citibike-tripdata.csv', '201604-citibike-tripdata.csv', '201605-citibike-tripdata.csv', '201606-citibike-tripdata.csv', '201607-citibike-tripdata.csv', '201608-citibike-tripdata.csv', '201609-citibike-tripdata.csv', '201610-citibike-tripdata.csv', '201611-citibike-tripdata.csv', '201612-citibike-tripdata.csv', '201701-citibike-tripdata.csv', '201702-citibike-tripdata.csv', '201703-citibike-tripdata.csv']

In [5]:
#load data into n dataframes
for f in dataFiles:
    data_df = pd.read_csv(mypath + f, dtype=inputDtypeDict, parse_dates=['Start Time', 'Stop Time'], infer_datetime_format=True)
    print "File " + f + " has " + str(len(data_df)) + " records"
    dataFrames.append(data_df)

File 2013-07 - Citi Bike trip data.csv has 843416 records
File 2013-08 - Citi Bike trip data.csv has 1001958 records
File 2013-09 - Citi Bike trip data.csv has 1034359 records
File 2013-10 - Citi Bike trip data.csv has 1037712 records
File 2013-11 - Citi Bike trip data.csv has 675774 records
File 2013-12 - Citi Bike trip data.csv has 443966 records
File 2014-01 - Citi Bike trip data.csv has 300400 records
File 2014-02 - Citi Bike trip data.csv has 224736 records
File 2014-04 - Citi Bike trip data.csv has 670780 records
File 2014-05 - Citi Bike trip data.csv has 866117 records
File 2014-06 - Citi Bike trip data.csv has 936880 records
File 2014-07 - Citi Bike trip data.csv has 968842 records
File 2014-08 - Citi Bike trip data.csv has 963489 records
File 201409-citibike-tripdata.csv has 953887 records
File 201410-citibike-tripdata.csv has 828711 records
File 201411-citibike-tripdata.csv has 529188 records
File 201412-citibike-tripdata.csv has 399069 records
File 201501-citibike-tripdata.csv has 285552 records
File 201502-citibike-tripdata.csv has 196930 records
File 201503-citibike-tripdata.csv has 341826 records
File 201504-citibike-tripdata.csv has 652390 records
File 201505-citibike-tripdata.csv has 961986 records
File 201506-citibike-tripdata.csv has 941219 records
File 201507-citibike-tripdata.csv has 1085676 records
File 201508-citibike-tripdata.csv has 1179044 records
File 201509-citibike-tripdata.csv has 1289699 records
File 201510-citibike-tripdata.csv has 1212277 records
File 201511-citibike-tripdata.csv has 987245 records
File 201512-citibike-tripdata.csv has 804125 records
File 201601-citibike-tripdata.csv has 509478 records
File 201602-citibike-tripdata.csv has 560874 records
File 201603-citibike-tripdata.csv has 919921 records
File 201604-citibike-tripdata.csv has 1013149 records
File 201605-citibike-tripdata.csv has 1212280 records
File 201606-citibike-tripdata.csv has 1460318 records
File 201607-citibike-tripdata.csv has 1380110 records
File 201608-citibike-tripdata.csv has 1557663 records
File 201609-citibike-tripdata.csv has 1648856 records
File 201610-citibike-tripdata.csv has 1573872 records
File 201611-citibike-tripdata.csv has 1196942 records
File 201612-citibike-tripdata.csv has 812192 records
File 201701-citibike-tripdata.csv has 726676 records
File 201702-citibike-tripdata.csv has 791647 records
File 201703-citibike-tripdata.csv has 727665 records

In [6]:
#join all dataframes into single dataframe
allTrips_df = pd.concat(dataFrames)
print "Final file has " + str(len(allTrips_df)) + " records"

Final file has 38708896 records

In [7]:
allTrips_df['Start Date'] = allTrips_df['Start Time'].dt.date
allTrips_df['Start Date'] = pd.to_datetime(allTrips_df['Start Date'])

In [ ]:
#uniqueRoutes_df = allTrips_df[allTrips_df['Start Date']=='2013-07-01']['Start Station Latitude', 'Start Station Longitude', 'End Station Latitude', 'End Station Longitude'].drop_duplicates()
uniqueRoutes_df = allTrips_df[(allTrips_df['Start Date']=='2013-08-09') |
                             (allTrips_df['Start Date']=='2013-08-10') |
                              (allTrips_df['Start Date']=='2013-11-08') |
                              (allTrips_df['Start Date']=='2013-11-09') |
                              (allTrips_df['Start Date']=='2014-02-07') |
                              (allTrips_df['Start Date']=='2014-02-08') |
                              (allTrips_df['Start Date']=='2014-05-09') |
                              (allTrips_df['Start Date']=='2014-05-10') |
                              (allTrips_df['Start Date']=='2014-08-08') |
                              (allTrips_df['Start Date']=='2014-08-09') |
                              (allTrips_df['Start Date']=='2014-11-07') |
                              (allTrips_df['Start Date']=='2014-11-08') |
                              (allTrips_df['Start Date']=='2015-02-06') |
                              (allTrips_df['Start Date']=='2015-02-07') |
                              (allTrips_df['Start Date']=='2015-05-08') |
                              (allTrips_df['Start Date']=='2015-05-09') |
                              (allTrips_df['Start Date']=='2015-08-07') |
                              (allTrips_df['Start Date']=='2015-08-08') |
                              (allTrips_df['Start Date']=='2015-11-06') |
                              (allTrips_df['Start Date']=='2015-11-07') |
                              (allTrips_df['Start Date']=='2016-02-05') |
                              (allTrips_df['Start Date']=='2016-02-06') |
                              (allTrips_df['Start Date']=='2016-05-06') |
                              (allTrips_df['Start Date']=='2016-05-07') |
                              (allTrips_df['Start Date']=='2016-08-09') |
                              (allTrips_df['Start Date']=='2016-08-09') |
                              (allTrips_df['Start Date']=='2016-11-04') |
                              (allTrips_df['Start Date']=='2016-11-05') |
                              (allTrips_df['Start Date']=='2017-02-03') |
                              (allTrips_df['Start Date']=='2017-02-04') |
                              (allTrips_df['Start Date']=='2017-05-12') |
                              (allTrips_df['Start Date']=='2017-05-13')
                             ][['Start Station Latitude', 'Start Station Longitude', 'End Station Latitude', 'End Station Longitude']].drop_duplicates().reset_index().drop('index', axis=1)

In [ ]:
uniqueRoutes_df.to_pickle('uniqueRoutes.pickle')

In [ ]:
directionDataFrames = []

In [ ]:
#do first 25,000
#for i in range(50000):
#for i in range(50000,68565):
for i in range(68565, 118470):
    startLat = uniqueRoutes_df.loc[i, 'Start Station Latitude']
    startLng = uniqueRoutes_df.loc[i, 'Start Station Longitude']
    endLat = uniqueRoutes_df.loc[i, 'End Station Latitude']
    endLng = uniqueRoutes_df.loc[i, 'End Station Longitude']
    start = (startLat, startLng)
    end = (endLat, endLng)
    direct = gclient.directions(origin=start, destination=end, mode="bicycling")
    if len(direct)==0:
        print "I can't do this one (no directions found). Need another solution... " + str(startLat) + " " + str(startLng) + " " + str(endLat) + " " + str(endLng)
    else:
        my_points = polyline.decode(direct[0]['overview_polyline']['points'])
        if len(my_points) > 100:
            print "I can't do this one. Need another solution..." + str(startLat) + " " + str(startLng) + " " + str(endLat) + " " + str(endLng)
        else:
            my_interpolation = gclient.snap_to_roads(my_points, interpolate=True)
            my_df_interpolation = pd.DataFrame(my_interpolation)
            my_df_interpolation['point latitude'] = my_df_interpolation['location'].apply(lambda x: x.get('latitude'))
            my_df_interpolation['point longitude'] = my_df_interpolation['location'].apply(lambda x: x.get('longitude'))
            my_df_interpolation['start station latitude'] = startLat
            my_df_interpolation['start station longitude'] = startLng
            my_df_interpolation['end station latitude'] = endLat
            my_df_interpolation['end station longitude'] = endLng
            my_df_interpolation.drop(['location', 'originalIndex', 'placeId'], axis=1, inplace=True)
            my_df_interpolation['order'] = my_df_interpolation.index
            directionDataFrames.append(my_df_interpolation)

allTrips_df_extra = pd.concat(directionDataFrames)
allTrips_df_extra.to_pickle('additional_trips3.pickle')

In [8]:
####################################
# GET DIRECTIONS EN MASS END #######
####################################

uniqueDirections_df_part1 = pd.read_pickle('additional_trips1.pickle')
uniqueDirections_df_part2 = pd.read_pickle('additional_trips3.pickle')
uniqueDirections_df_part3 = pd.read_pickle('additional_trips3.pickle')
uniqueDirections_df = pd.concat([uniqueDirections_df_part1, uniqueDirections_df_part2, uniqueDirections_df_part3])
uniqueDirections_df.rename(columns={'point latitude': 'Point Latitude',
                                    'point longitude': 'Point Longitude',
                                    'start station latitude': 'Start Station Latitude',
                                    'start station longitude': 'Start Station Longitude',
                                    'end station latitude': 'End Station Latitude',
                                    'end station longitude': 'End Station Longitude'}, inplace=True)

In [9]:
#get rid of duplicate points on same trip... if you redump the data you can solve this problem ahead of time
uniqueDirections_df = uniqueDirections_df.groupby(['Point Latitude', 
                             'Point Longitude', 
                             'Start Station Latitude', 
                             'Start Station Longitude', 
                             'End Station Latitude', 
                             'End Station Longitude'])['order'].min().to_frame().reset_index().\
                                sort_values(['Start Station Latitude',
                               'Start Station Longitude',
                               'End Station Latitude',
                               'End Station Longitude',
                               'order']).reset_index().drop('index', axis=1)

In [10]:
uniqueDirections_df.head()

,Point Latitude,Point Longitude,Start Station Latitude,Start Station Longitude,End Station Latitude,End Station Longitude,order
0,40.646301,-74.016839,40.646538,-74.016588,40.646538,-74.016588,0
1,40.646811,-74.016169,40.646678,-74.016303,40.646678,-74.016303,0
2,40.646920,-74.016350,40.646768,-74.016510,40.646768,-74.016510,0
3,40.646920,-74.016350,40.646768,-74.016510,40.668546,-73.993333,0
4,40.643988,-74.011482,40.646768,-74.016510,40.668546,-73.993333,1

In [11]:
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [12]:
uniqueDirections_df['dist'] = \
    haversine_np(uniqueDirections_df['Point Longitude'].shift(), uniqueDirections_df['Point Latitude'].shift(),
                 uniqueDirections_df.loc[1:, 'Point Longitude'], uniqueDirections_df.loc[1:, 'Point Latitude'])

In [13]:
uniqueDirections_df['dist'] = np.where(uniqueDirections_df['order']==0, 0, uniqueDirections_df['dist'])

In [14]:
uniqueDirections_df['cumdist'] = uniqueDirections_df.groupby(['Start Station Latitude', 
                  'Start Station Longitude', 
                  'End Station Latitude', 
                  'End Station Longitude'])['dist'].cumsum()

In [15]:
totalTravelDistance = uniqueDirections_df.groupby(['Start Station Latitude', 
                  'Start Station Longitude', 
                  'End Station Latitude', 
                  'End Station Longitude'])['cumdist'].max().to_frame().reset_index()

In [16]:
#get rid of routes that start and end in the same place
totalTravelDistance = totalTravelDistance[totalTravelDistance['cumdist']!=0]

In [17]:
totalTravelDistance.rename(columns={'cumdist':'Total Route Distance'}, inplace=True)

In [18]:
uniqueDirections_df = pd.merge(uniqueDirections_df, totalTravelDistance, how='inner', 
                               on=['Start Station Latitude', 'Start Station Longitude', 'End Station Latitude', 'End Station Longitude'])

In [19]:
uniqueDirections_df['Percent Complete'] = uniqueDirections_df['cumdist'] / uniqueDirections_df['Total Route Distance']

In [20]:
allTripsOneDay = allTrips_df[allTrips_df['Start Date']=='2013-08-09']

In [21]:
allTripsOneDay.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Start Date
257963,473,2013-08-09 00:00:02,2013-08-09 00:07:55,348,W Broadway & Spring St,40.724910,-74.001547,249,Harrison St & Hudson St,40.718710,-74.009001,14821,Subscriber,1986,1,2013-08-09
257964,651,2013-08-09 00:00:12,2013-08-09 00:11:03,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,410,Suffolk St & Stanton St,40.720664,-73.985180,19622,Subscriber,1987,1,2013-08-09
257965,1542,2013-08-09 00:00:25,2013-08-09 00:26:07,128,MacDougal St & Prince St,40.727103,-74.002971,143,Clinton St & Joralemon St,40.692395,-73.993379,17508,Subscriber,1965,1,2013-08-09
257966,1082,2013-08-09 00:00:27,2013-08-09 00:18:29,507,E 25 St & 2 Ave,40.739126,-73.979738,410,Suffolk St & Stanton St,40.720664,-73.985180,16280,Subscriber,1988,1,2013-08-09
257967,862,2013-08-09 00:00:35,2013-08-09 00:14:57,475,E 16 St & Irving Pl,40.735243,-73.987586,361,Allen St & Hester St,40.716059,-73.991908,16696,Subscriber,1981,2,2013-08-09

In [22]:
#take the trips from a single bike
allTripsOneDayTenBikes = allTripsOneDay[(allTripsOneDay['Bike ID'] == 14821) | 
                                        (allTripsOneDay['Bike ID'] == 19622) | 
                                        (allTripsOneDay['Bike ID'] == 17508) | 
                                        (allTripsOneDay['Bike ID'] == 16280) | 
                                        (allTripsOneDay['Bike ID'] == 16696) | 
                                        (allTripsOneDay['Bike ID'] == 15895) | 
                                        (allTripsOneDay['Bike ID'] == 20035) | 
                                        (allTripsOneDay['Bike ID'] == 19165) | 
                                        (allTripsOneDay['Bike ID'] == 19477) | 
                                        (allTripsOneDay['Bike ID'] == 17811)].copy()

In [23]:
df_merge = pd.merge(uniqueDirections_df, allTripsOneDayTenBikes, how='inner', on=['Start Station Latitude', 'Start Station Longitude', 'End Station Latitude', 'End Station Longitude'])

In [24]:
df_merge.head()

,Point Latitude,Point Longitude,Start Station Latitude,Start Station Longitude,End Station Latitude,End Station Longitude,order,dist,cumdist,Total Route Distance,...,Stop Time,Start Station ID,Start Station Name,End Station ID,End Station Name,Bike ID,User Type,Birth Year,Gender,Start Date
0,40.689373,-73.989068,40.689269,-73.989129,40.690893,-73.996123,0,0.000000,0.000000,1.555529,...,2013-08-09 01:14:41,310,State St & Smith St,157,Henry St & Atlantic Ave,15895,Subscriber,1967,1,2013-08-09
1,40.689305,-73.988864,40.689269,-73.989129,40.690893,-73.996123,1,0.018813,0.018813,1.555529,...,2013-08-09 01:14:41,310,State St & Smith St,157,Henry St & Atlantic Ave,15895,Subscriber,1967,1,2013-08-09
2,40.689259,-73.988745,40.689269,-73.989129,40.690893,-73.996123,2,0.011237,0.030051,1.555529,...,2013-08-09 01:14:41,310,State St & Smith St,157,Henry St & Atlantic Ave,15895,Subscriber,1967,1,2013-08-09
3,40.689261,-73.988743,40.689269,-73.989129,40.690893,-73.996123,4,0.000306,0.030357,1.555529,...,2013-08-09 01:14:41,310,State St & Smith St,157,Henry St & Atlantic Ave,15895,Subscriber,1967,1,2013-08-09
4,40.689321,-73.988689,40.689269,-73.989129,40.690893,-73.996123,5,0.008035,0.038392,1.555529,...,2013-08-09 01:14:41,310,State St & Smith St,157,Henry St & Atlantic Ave,15895,Subscriber,1967,1,2013-08-09

In [25]:
df_merge['Time'] = np.where(df_merge['order']==0, df_merge['Start Time'], pd.NaT)

In [26]:
df_merge['Time'] = pd.to_datetime(df_merge['Time'])

In [27]:
df_merge['Time'] = np.where(df_merge['Percent Complete']==1, df_merge['Stop Time'], df_merge['Time'])

In [28]:
#uniqueDirections_df[(uniqueDirections_df['Start Station Latitude'].round(5)==40.72917) & (uniqueDirections_df['End Station Latitude'].round(5)==40.72066)].head()

In [29]:
#df_merge[['Start Station Latitude', 'End Station Latitude', 'Start Time', 'Stop Time', 'Time']].head(70)

In [30]:
df_merge['Time'] = (df_merge['Time'] - np.datetime64('2010-01-01')) / np.timedelta64(1, 's')

In [31]:
#df_merge['Time'] = df_merge['Time'].interpolate(method='values')

In [33]:
df_merge['Time'] = df_merge.groupby(['Start Station Latitude', 'Start Station Longitude', 'End Station Latitude', 'End Station Longitude', 
                  'Start Time', 'Stop Time', 'Bike ID'])['cumdist', 'Time'].apply(pd.DataFrame.interpolate, method='values')['Time']

In [34]:
df_merge['Time'] = df_merge['Time'] * np.timedelta64(1, 's') + np.datetime64('2010-01-01T00:00:01')

In [35]:
df_merge[['Start Station Latitude', 'End Station Latitude', 'Start Time', 'Stop Time', 'Time']].head(80)

,Start Station Latitude,End Station Latitude,Start Time,Stop Time,Time
0,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:09:48.262304001
1,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:09:57.262304001
2,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:10:06.262304001
3,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:10:14.262304001
4,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:10:23.262304001
5,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:10:32.262304001
6,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:10:40.262304001
7,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:10:49.262304001
8,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:10:57.262304001
9,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:11:06.262304001
10,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:11:15.262304001
11,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:11:23.262304001
12,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:11:32.262304001
13,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:11:41.262304001
14,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:11:49.262304001
15,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:11:58.262304001
16,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:12:06.262304001
17,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:12:15.262304001
18,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:12:24.262304001
19,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:12:32.262304001
20,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:12:41.262304001
21,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:12:49.262304001
22,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:12:58.262304001
23,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:13:07.262304001
24,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:13:15.262304001
25,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:13:24.262304001
26,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:13:33.262304001
27,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:13:41.262304001
28,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:13:50.262304001
29,40.689269,40.690893,2013-08-09 01:09:48,2013-08-09 01:14:41,2013-08-09 01:13:58.262304001
...,...,...,...,...,...
50,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:15:41.262304001
51,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:16:19.262304001
52,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:16:57.262304001
53,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:17:34.262304001
54,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:18:12.262304001
55,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:18:50.262304001
56,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:19:28.262304001
57,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:20:06.262304001
58,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:20:43.262304001
59,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:21:21.262304001
60,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:21:59.262304001
61,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:22:37.262304001
62,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:23:14.262304001
63,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:23:52.262304001
64,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:24:30.262304001
65,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:25:08.262304001
66,40.690893,40.692463,2013-08-09 08:06:14,2013-08-09 08:25:45,2013-08-09 08:25:45.262304001
67,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:00.262304001
68,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:06.262304001
69,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:12.262304001
70,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:17.262304001
71,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:23.262304001
72,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:29.262304001
73,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:34.262304001
74,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:40.262304001
75,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:46.262304001
76,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:51.262304001
77,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:29:57.262304001
78,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:30:02.262304001
79,40.692362,40.713126,2013-08-09 16:29:00,2013-08-09 16:43:56,2013-08-09 16:30:08.262304001

In [ ]:
####################################
# GET DIRECTIONS ONCE START ########
####################################

#start = "76 Henry Street, Brooklyn, NY, USA"
#finish = "55 3rd Avenue, New York, NY, USA"

start = (40.749718, -74.002950)
finish = (40.726795, -73.996951)

In [ ]:
direct = gclient.directions(origin=start, destination=finish, mode="bicycling")
direct_road = gclient.directions(origin=start, destination=finish)

In [ ]:
my_points = polyline.decode(direct[0]['overview_polyline']['points'])
my_points_road = polyline.decode(direct_road[0]['overview_polyline']['points'])

In [ ]:
my_df = pd.DataFrame(my_points)
my_df.rename(columns={0:'start station latitude', 1:'start station longitude'}, inplace=True)
my_df_road = pd.DataFrame(my_points_road)
my_df_road.rename(columns={0:'start station latitude', 1:'start station longitude'}, inplace=True)

In [ ]:
my_df.head()

In [ ]:
my_interpolation = gclient.snap_to_roads(my_points, interpolate=True)

In [ ]:
my_interpolation_road = gclient.snap_to_roads(my_points_road, interpolate=True)

In [ ]:
my_df_interpolation = pd.DataFrame(my_interpolation)

In [ ]:
my_df_interpolation_road = pd.DataFrame(my_interpolation_road)

In [ ]:
my_df_interpolation['start station latitude'] = my_df_interpolation['location'].apply(lambda x: x.get('latitude'))
my_df_interpolation['start station longitude'] = my_df_interpolation['location'].apply(lambda x: x.get('longitude'))

In [ ]:
my_df_interpolation_road['start station latitude'] = my_df_interpolation_road['location'].apply(lambda x: x.get('latitude'))
my_df_interpolation_road['start station longitude'] = my_df_interpolation_road['location'].apply(lambda x: x.get('longitude'))

In [ ]:
my_df.head()

In [ ]:
sg_map = folium.Map(location=[40.71993, -73.99594], zoom_start=13)

In [ ]:
def plotDot(point):
    '''input: series that contains a numeric named latitude and a numeric named longitude
    this function creates a CircleMarker and adds it to your this_map'''
    folium.CircleMarker(location=[point['start station latitude'], point['start station longitude']],
                        fill_color='red', radius=5, popup=str(point['start station latitude']) + " " + str(point['start station longitude']),
                        weight=0).add_to(sg_map)

#use df.apply(,axis=1) to "iterate" through every row in your dataframe
my_df_road.apply(plotDot, axis = 1)

In [ ]:
#car directions
sg_map

In [ ]:
sg_map2 = folium.Map(location=[40.71993, -73.99594], zoom_start=13)

def plotDot2(point):
    '''input: series that contains a numeric named latitude and a numeric named longitude
    this function creates a CircleMarker and adds it to your this_map'''
    folium.CircleMarker(location=[point['start station latitude'], point['start station longitude']],
                        fill_color='red', radius=5, popup=str(point['start station latitude']) + " " + str(point['start station longitude']),
                        weight=0).add_to(sg_map2)

my_df_interpolation.apply(plotDot2, axis = 1)

In [ ]:
#interpolated bike directions
sg_map2

In [ ]:
sg_map3 = folium.Map(location=[40.71993, -73.99594], zoom_start=13)

def plotDot3(point):
    '''input: series that contains a numeric named latitude and a numeric named longitude
    this function creates a CircleMarker and adds it to your this_map'''
    folium.CircleMarker(location=[point['start station latitude'], point['start station longitude']],
                        fill_color='red', radius=5, popup=str(point['start station latitude']) + " " + str(point['start station longitude']),
                        weight=0).add_to(sg_map3)

my_df.apply(plotDot3, axis = 1)

In [ ]:
#bike directions
sg_map3

In [ ]:
sg_map4 = folium.Map(location=[40.71993, -73.99594], zoom_start=13)

def plotDot3(point):
    '''input: series that contains a numeric named latitude and a numeric named longitude
    this function creates a CircleMarker and adds it to your this_map'''
    folium.CircleMarker(location=[point['start station latitude'], point['start station longitude']],
                        fill_color='red', radius=5, popup=str(point['start station latitude']) + " " + str(point['start station longitude']),
                        weight=0).add_to(sg_map4)

my_df_interpolation_road.apply(plotDot3, axis = 1)

In [ ]:
#car directions interpolated
sg_map4

In [ ]:
my_df_interpolation_road.head()

In [ ]:
# get paths between all stations
# join start and stop times of trips to this dataframe
# interpolate times and lats/longitudes
# filter dataframe for each minute (second?), plot all the points, take a screenshot

In [ ]:
#COPY BIKE DATA GATHERING HERE

In [ ]:
#isolate records that indicate that a rebalancing occured
allTrips_df.sort_values(['bikeid', 'starttime'], inplace=True)
allTrips_df['start next station id'] = allTrips_df['start station id'].shift(-1)
rebalancing_df = allTrips_df[allTrips_df['end station id'] != allTrips_df['start next station id']].copy()

In [ ]:
#take the trips from a single bike
allTripsOneBike = allTrips_df[allTrips_df['Bike ID'] == 14529].copy()

In [ ]:
allTripsOneBike.sort_values('Start Time', inplace=True)

In [ ]:
allTripsOneBike = allTripsOneBike.reset_index()

In [ ]:
allTripsOneBike.head()

In [ ]:
my_df_interpolation_road.loc[0,'time'] = allTripsOneBike.loc[0,'Start Time']

In [ ]:
my_df_interpolation_road.loc[len(my_df_interpolation_road)-1,'time'] = allTripsOneBike.loc[0,'Stop Time']

In [ ]:
my_df_interpolation_road

In [ ]:
temp_df = my_df_interpolation_road.copy()

In [ ]:
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km

In [ ]:
temp_df = temp_df[['start station latitude', 'start station longitude', 'time']].drop_duplicates().reset_index()

In [ ]:
temp_df.head()

In [ ]:
temp_df.loc[0,'time']

In [ ]:
temp_df['dist'] = \
    haversine_np(temp_df['start station longitude'].shift(), temp_df['start station latitude'].shift(),
                 temp_df.loc[1:, 'start station longitude'], temp_df.loc[1:, 'start station latitude'])

In [ ]:
temp_df.head()

In [ ]:
temp_df['cumdist'] = temp_df['dist'].cumsum().fillna(0)

In [ ]:
temp_df['cumdist2'] = temp_df['cumdist'] / temp_df['cumdist'].max()

In [ ]:
temp_df.set_index('cumdist2', inplace=True)

In [ ]:
temp_df['time'] = (temp_df['time'] - np.datetime64('2010-01-01')) / np.timedelta64(1, 's')

In [ ]:
temp_df

In [ ]:
temp_df['time'] = temp_df['time'].interpolate(method='values')

In [ ]:
temp_df

In [ ]:
temp_df.iloc[2,3]

In [ ]:
temp_df['time'] = temp_df['time'] * np.timedelta64(1, 's') + np.datetime64('2010-01-01T00:00:01')

In [ ]:
temp_df

In [ ]:
#from here, it would be nice to have
#1. the seconds rounded down to get rid of fractions of a second, or do these calculations such that the fractions of a second chance
#2. interpolate more points even more points, have time for each of them

In [ ]:
import numpy as np

times = [2, 5, 10, 13]
lat = [1.5, 2, 4, 7]
lon = [3, 2, 1, -2]
t = np.arange(2, 14)

latint = np.interp(t, times, lat)
lonint = np.interp(t, times, lon)
for pos in zip(latint, lonint, t):
    print(pos)

In [ ]:
t

In [ ]:
temp_df.index

In [ ]:
len(allTrips_df)

In [ ]:
####################################
# GET DIRECTIONS ONCE END ##########
####################################